<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Select and Auto Refine</title>
    <link type="text/css" rel="styleSheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link type="text/css" rel="styleSheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
</head>
<body>
    <div class="MainBlock_position">
        <div class="hline"></div>
        <div class="MainBlock">
            <div class="hline"></div>
            <div class="CreateParameters">
                <form action="/CreateParameters" method="post">
                    <div class="inputdiv">
                        <div class="input_prompt">Dir path: </div>
                        <div class="inputbox_div"><input class="inputbox_common" type="text" name="globaldir" value="{{ CreateParameters['globaldir'] }}"></div>
                        <div class="vline"></div>
                        <div class="inputbox_submit_div"><input class="set_parameter_button" type="submit" name="cp_button" value="Submit"></div>
                    </div>
                    <div class="inputdiv">
                        <div class="input_prompt">Input Num: </div>
                        <div class="inputbox_div">
                            <input class="inputbox_jobtype" type="text" name="movie_job_num" value="{{ BaseParameters['movie_job_num'] }}" placeholder="&nbsp;&nbsp;movie" style="outline:none;">
                            <input class="inputbox_jobtype" type="text" name="micrograph_job_num" value="{{ BaseParameters['micrograph_job_num'] }}" placeholder="&nbsp;&nbsp;micrograph" style="outline:none;">
                            <input class="inputbox_jobtype" type="text" name="particle_job_num" value="{{ BaseParameters['particle_job_num'] }}" placeholder="&nbsp;&nbsp;particle" style="outline:none;">
                        </div>
                        <div class="vline"></div>
                        <div class="inputbox_submit_div"><input class="set_parameter_button" type="submit" name="cp_button" value="Clear"></div>
                    </div>
                </form>
            </div>
            <div class="hline"></div>
            <form action="/ModifyBaseParameters" method="post">
                <div class="ModifyBaseParameters">
                    <div class="hline"></div>
                    <div class="Global_Parameters">
                        <!--
                        <div class="inputdiv">
                            <div class="input_prompt">Linux Username: </div>
                            <div class="inputbox_div"><input class="inputbox_common" type="text" name="linux_username" value="{{ BaseParameters['linux_username'] }}"></div>
                            <div class="vline"></div>
                            <div class="vline"></div>
                        </div>
                        <div class="inputdiv">
                            <div class="input_prompt">Linux Password: </div>
                            <div class="inputbox_div"><input class="inputbox_common" type="password" name="linux_password" value="{{ BaseParameters['linux_password'] }}"></div>
                            <div class="vline"></div>
                            <div class="vline"></div>
                        </div>-->
                        <div class="inputdiv">
                            <div class="input_prompt">CryoSPARC Username: </div>
                            <div class="inputbox_div"><input class="inputbox_common" type="text" name="cryosparc_username" value="{{ BaseParameters['cryosparc_username'] }}"></div>
                            <div class="vline"></div>
                            <div class="inputbox_submit_div"><input class="set_parameter_button" type="submit" value="Confirm"></div>
                        </div>
                        <div class="inputdiv">
                            <div class="input_prompt">CryoSPARC Password: </div>
                            <div class="inputbox_div"><input class="inputbox_common" type="password" name="cryosparc_password" value="{{ BaseParameters['cryosparc_password'] }}"></div>
                            <div class="vline"></div>
                            <div class="vline"></div>
                        </div>
                        <div class="inputdiv">
                            <div class="input_prompt">CryoSPARC Workspace: </div>
                            <div class="inputbox_div">
                                <input class="inputbox_cryosparc" type="text" name="project" value="{{ BaseParameters['project'] }}">
                                <input class="inputbox_cryosparc" type="text" name="workspace" value="{{ BaseParameters['workspace'] }}">
                            </div>
                            <div class="vline"></div>
                            <div class="vline"></div>
                        </div>
                        <div class="inputdiv">
                            <div class="input_prompt">Refine Symmetry: </div>
                            <div class="inputbox_div"><input class="inputbox_common" type="text" name="refine_symmetry" value="{{ BaseParameters['refine_symmetry'] }}"></div>
                            <div class="vline"></div>
                            <div class="vline"></div>
                        </div>
                    </div>
                    <div class="hline"></div>
                    <div class="inputparameters_div">{{ CreateParameters['input_folders']|safe }}</div>
                    <div class="hline"></div>
                </div>
            </form>
            <div class="hline"></div>
            <div class="Refine">
                <div class="output_box"><pre id="ImportAndRefine_output"></pre></div>
                <div class="vline"></div>
                <div class="refine_buttons">
                    <input class="get_result_button" id="startimportandrefine" type="submit" value="Run" onclick="startimportandrefine();">
                    <div class="hline"></div>

                    <!--<input class="get_result_button" type="submit" value="Import Only" onclick="startimport();">
                    <div class="hline"></div>
                    <input class="get_result_button" type="submit" value="Refine Only" onclick="startrefine();">
                    <div class="hline"></div>-->

                    <input class="get_result_button" id="killmyjob" type="submit" value="Kill" onclick="killmyjob();">
                    <div class="hline"></div>
                    <input class="get_result_button" id="reconnect" type="submit" value="Reconnect" onclick="reconnect();">
                    <div class="hline"></div>
                    <input class="get_result_button" id="downloadmap" type="submit" value="Download Map" onclick="downloadmap();">

                    <div class="hline"></div>
                    <div class="hline"></div>
                    <div class="hline"></div>
                    <div class="hline"></div>

                </div>
            </div>
            <div class="hline"></div>
        </div>
        <div class="hline"></div>
    </div>
</body>
</html>